@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: "Spartan", sans-serif;
    background-image: url(images/bg-pattern-top-mobile.svg),
      url(images/bg-pattern-bottom-mobile.svg);
    
}

.tela{
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 500px;
  max-width: 1127px;
  }


.artigo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0px;
  
}

.artigo-titulo{
  text-align: star;
  font-size: 30px;
  color: hsl(300, 43%, 22%);
  margin-left: 5px ;
 
}

.artigo-subtitulo{
  text-align:start;
  font-size: 0.9rem;
  padding: 10px 5px;
  margin-top: -50px;
  margin-left: 5px;
  color: hsl(300, 43%, 22%);
  line-height: 1.5;
 
}

/*.........................................*/

.class-geral{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  min-width: 500px;
  max-width: 1127px;
}

.class-reviews{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 35px;
    margin: 0 0 20px 0;
    line-height: 25px;
    background-color: hsl(300, 50%, 94%);
    border-radius: 5px;
    font-size: 0.9rem;
    transform: translate(580px, -310px);
    
}

.class-guru{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 35px;
    margin: 0 0 20px 0;
    line-height: 25px;
    background-color: hsl(300, 50%, 94%);
    border-radius: 5px;
    font-size: 0.9rem;
    transform: translate(300px, -205px);
    
}

.class-besttech{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 37px;
    margin: 0 0 20px 0;
    line-height: 25px;
    background-color: hsl(300, 50%, 94%);
    border-radius: 5px;
    font-size: 0.9rem;
    transform: translate(-5px, -100px);
    
    
   
}

.class-text{
    padding-left: 10px;
    color: hsl(300, 80%, 10%);
    font-family: "Spartan", sans-serif;
    font-weight: 700;
    
}

/*.........................................*/

.container-people{
  display: flex;
}


.container-colson{
  padding-right: 20px;
  background-color: hsl(300, 80%, 10%);
  margin-bottom: 120px;
  transform: translate(350px, 0px);
  border-radius: 5px;
  width: 300px;
  height: 250px;
  margin-left: -345px;
  margin-top: -50px;
}

.colton-smith{
    display: flex;
}

.img-colton{
  border-radius: 30px;
  width: 60px;
  height: 60px;
  margin-top: 35px;
  margin-left: 30px;
}

.nome-colton h3{
  color: white;
  font-size: 15px;
  margin-top: 40px;
  margin-left: 20px;
}

.nome-colton h4{
  color:  hsl(333, 80%, 67%);
  margin-top: 5px;
  margin-left: 20px;
}

.text-colton p{
  color: white;
  font-size: 14px;
  margin-top: 25px;
  margin-left: 30px;
  line-height: 20px;
}


.container-irene{
  padding-right: 20px;
  background-color: hsl(300, 80%, 10%);
  transform: translate(425px, 20px);
  margin-bottom: 120px;
  border-radius: 5px;
  width: 300px;
  height: 250px;
  margin-top: -50px;
}

.irene-roberts{
    display: flex;
}

.img-irene{
  border-radius: 35px;
  width: 60px;
  height: 60px;
  margin-top: 35px;
  margin-left: 30px;
}

.nome-irene h3{
  color: white;
  font-size: 15px;
  margin-top: 40px;
  margin-left: 20px;
}

.nome-irene h4{
  color:  hsl(333, 80%, 67%);
  margin-top: 5px;
  margin-left: 20px;
}

.text-irene p{
  color: white;
  font-size: 14px;
  margin-top: 25px;
  margin-left: 30px;
  line-height: 20px;
}




.container-anne{
  background-color: hsl(300, 80%, 10%);
  margin-top: 40px;
  margin-left: 490px;
  margin-bottom: 80px;
  border-radius: 5px;
  width: 300px;
  height: 250px;
  margin-top: -5px;
}

.Anne-wallace{
    display: flex;
}

.img-anne{
  border-radius: 35px;
  width: 60px;
  height: 60px;
  margin-top: 35px;
  margin-left: 30px;
}

.nome-anne h3{
  color: white;
  font-size: 15px;
  margin-top: 40px;
  margin-left: 20px;
}

.nome-anne h4{
  color:  hsl(333, 80%, 67%);
  margin-top: 5px;
  margin-left: 20px;
}

.text-anne p{
  color: white;
  font-size: 14px;
  margin-top: 25px;
  margin-left: 30px;
  line-height: 20px;
}


/*..........................................*/

      .attribution {
        font-size: 11px;
        text-align: center;
        margin-left: 30px;
        margin-top: -50px;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    